<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Persona a Evento</title>
    <link rel="stylesheet" href="/static/css/add_to_event.css">
</head>
<body>
<header>
    <h1>Universidad del Sur Occidente</h1>
    <nav>
        <ul>
            <li><a href="{% url 'menu' %}">Inicio</a></li>
            <li><a href="{% url 'rEvents_a' %}">Registrar Evento</a></li>
            <li><a href="{% url 'rUser' %}">Registrar Persona</a></li>
            <li><a href="{% url 'listP' %}">Mostrar Personas</a></li>
            <li><a href="{% url 'listE' %}">Mostrar Eventos</a></li>
            <li><a href="{% url 'comments' %}">Comentarios</a></li>
        </ul>
    </nav>
</header>
<div class="main-container">
    <div class="info-container">
        <h2>Información de la Persona</h2>
        <ul>
            <li>Nombre: {{ persona.nombres }}</li>
            <li>Identificación: {{ persona.identificacion }}</li>
            <li>Correo: {{ persona.email }}</li>
            <li>Tipo de empleado: {{ persona.tipo_empleado }}</li>
            <li>Ciudad: {{ persona.ciudad }}</li>
            <li>Departamento: {{  persona.departamento }}</li>
            <li>País: {{ persona.pais }}</li>
        </ul>
    </div>
    <div class="event-container">
        <h2>Eventos Disponibles</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Fecha</th>
                    <th>Ciudad</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                <tr>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>{{ evento.categoria }}</td>
                    <td>{{ evento.fecha }}</td>
                    <td>{{ evento.lugar.ciudad }}</td>
                    <td>
                        <form method="GET" action="{% url 'add_to_event' %}">
                            <input type="hidden" name="tituloEvento" value="{{ evento.titulo }}">
                            <button type="submit">Agregar a Evento</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="event-container">
        <h2>Eventos Recomendados</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                    <th>Fecha</th>
                    <th>Ciudad</th>
                    <th>id</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for recomendado in recomendados %}
                <tr>
                    <td>{{ recomendado.titulo }}</td>
                    <td>{{ recomendado.descripcion }}</td>
                    <td>{{ recomendado.categoria }}</td>
                    <td>{{ recomendado.fecha }}</td>
                    <td>{{ recomendado.lugar.ciudad }}</td>
                    <td>{{ recomendado.id }}</td>
                    <td>
                        <form method="GET" action="{% url 'add_to_event' %}">
                            <input type="hidden" name="tituloEvento" value="{{ recomendado.titulo }}">
                            <button type="submit">Agregar a Evento</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
