<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios - Universidad del Sur Occidente</title>
    <link rel="stylesheet" href="/static/css/comments.css">
</head>

<header>
    <h1>Universidad del Sur Occidente</h1>
    <nav>
        <ul>
            <li><a href="{% url 'menu' %}">Inicio</a></li>
            <li><a href="{% url 'rEvents_a' %}">Registrar Evento</a></li>
            <li><a href="{% url 'rEvents_b' %}">Registrar Lugar</a></li>
            <li><a href="{% url 'rUser' %}">Registrar Persona</a></li>
            <li><a href="{% url 'rUser_2' %}">Registrar Ciudad</a></li>
            <li><a href="{% url 'listP' %}">Mostrar Personas</a></li>
            <li><a href="{% url 'listE' %}">Mostrar Eventos</a></li>
            <li><a href="{% url 'comments' %}">Comentarios</a></li>

        </ul>
    </nav>
</header>
<body>
    <main class="main-container">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>ID Evento</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                    <tr>
                        <td>{{ comment.nombres }}</td>
                        <td>{{ comment.idEvent }}</td>
                        <td>{{ comment.comment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="form-container">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Enviar">
            </form>
        </div>
    </main>
</body>
</body>
</html>
