<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Tabla de Usuarios</title>
<link rel="stylesheet" href="/static/css/persons.css">
</head>
<body>
<header>
    <h1>Universidad del Sur Occidente</h1>
    <nav>
        <ul>
            <li><a href="{% url 'menu' %}">Inicio</a></li>
            <li><a href="{% url 'rEvents_a' %}">Registrar Evento</a></li>
            <li><a href="{% url 'rEvents_b' %}">Registrar Lugar</a></li>
            <li><a href="{% url 'rUser' %}">Registrar Persona</a></li>
            <li><a href="{% url 'rUser_2' %}">Registrar Ciudad</a></li>
            <li><a href="{% url 'listP' %}">Mostrar Personas</a></li>
            <li><a href="{% url 'listE' %}">Mostrar Eventos</a></li>
        </ul>
    </nav>
</header>
<div class="table-container">
    <h1>Eventos Registrados</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Fecha</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.titulo }}</td>
                <td>{{ event.descripcion }}</td>
                <td>{{ event.categoria }}</td>
                <td>{{ event.fecha }}</td>
                <td>{{ event.lugar.ciudad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
