<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Tabla de Usuarios</title>
<link rel="stylesheet" href="/static/css/persons.css">
</head>
<body>
<header>
    <h1>Universidad del Sur Occidente</h1>
    <nav>
        <ul>
            <li><a href="{% url 'menu' %}">Inicio</a></li>
            <li><a href="{% url 'rEvents_a' %}">Registrar Evento</a></li>
            <li><a href="{% url 'rEvents_b' %}">Registrar Lugar</a></li>
            <li><a href="{% url 'rUser' %}">Registrar Persona</a></li>
            <li><a href="{% url 'rUser_2' %}">Registrar Ciudad</a></li>
            <li><a href="{% url 'fEvent' %}">Filtrar Eventos</a></li>
            <li><a href="{% url 'listP' %}">Mostrar Personas</a></li>
            <li><a href="{% url 'listE' %}">Mostrar Eventos</a></li>
        </ul>
    </nav>
</header>
<div class="table-container">
    <h1>Personas Registradas</h1>
    <form action="" method="POST" id="search">
        {% csrf_token %}
        <input type="text" placeholder="Ingrese la identificacion de la persona" id="idPerson">
        <input type="submit" value="Buscar" id="searchBtn">
    </form>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Identificación</th>
                <th>Correo</th>
                <th>Tipo de Empleado</th>
                <th>Ciudad</th>
                <th>Departamento</th>
                <th>País</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr>
                <td>{{ persona.nombres }}</td>
                <td>{{ persona.identificacion }}</td>
                <td>{{ persona.email }}</td>
                <td>{{ persona.tipo_empleado }}</td>
                <td>{{ persona.ciudad }}</td>
                <td>{{ persona.departamento }}</td>
                <td>{{ persona.pais }}</td>
                <td>
                    <form method="post" action="{% url 'add_to_event' %}">
                        {% csrf_token %}
                        <input type="hidden" name="identificacion" value="{{ persona.identificacion }}">
                        <button href="persons/addEvent" type="submit">Agregar a Evento</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
