<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Evento - Universidad del Sur Occidente</title>
    <link rel="stylesheet" href="/static/css/register_event_pageA.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://unpkg.com/@mui/material@latest/dist/material.umd.min.js"></script>
</head>
<body>
    <header>
        <h1>Universidad del Sur Occidente</h1>
        <nav>
            <ul>
                <li><a href="{% url 'menu' %}">Inicio</a></li>
                <li><a href="{% url 'rEvents_a' %}">Registrar Evento</a></li>
                <li><a href="{% url 'rEvents_b' %}">Registrar Lugar</a></li>
                <li><a href="{% url 'rUser' %}">Registrar Persona</a></li>
                <li><a href="{% url 'rUser_2' %}">Registrar Ciudad</a></li>
                <li><a href="{% url 'listP' %}">Mostrar Personas</a></li>
                <li><a href="{% url 'listE' %}">Mostrar Eventos</a></li>
                <li><a href="{% url 'comments' %}">Comentarios</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <h2>Registro de Evento</h2>
        <form method="POST">
            {% csrf_token %}
            <strong>{{ form.as_p }}</strong>
            {% if form.as_p.errors %}
                <div class="error">{{ form.as_p.errors }}</div>
            {% endif %}
            <input type="submit" value="Siguiente" class="mui-btn mui-btn-raised">
        </form>
    </main>
</body>
</html>

