<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario - Universidad del Sur Occidente</title>
    <link rel="stylesheet" href="/static/css/register_user.css">
</head>
<body>
    <header>
        <h1>Universidad del Sur Occidente</h1>
        <nav>
            <ul>
                <li><a href="{% url 'menu' %}">Inicio</a></li>
                <li><a href="{% url 'rEvents_a' %}">Registrar Evento</a></li>
                <li><a href="{% url 'rEvents_b' %}">Registrar Lugar</a></li>
                <li><a href="{% url 'rUser' %}">Registrar Persona</a></li>
                <li><a href="{% url 'rUser_2' %}">Registrar Ciudad</a></li>
                <li><a href="{% url 'listP' %}">Mostrar Personas</a></li>
                <li><a href="{% url 'listE' %}">Mostrar Eventos</a></li>
                <li><a href="{% url 'comments' %}">Comentarios</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <h2>Registro de Usuario</h2>
        <form method="POST">
            {% csrf_token %}
            <strong>{{ form.as_p }}</strong>
            {% if form.as_p.errors %}
                <div class="error">{{ form.as_p.errors }}</div>
            {% endif %}
            <input type="submit" value="Siguiente">
        </form>
    </main>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('#id_identificacion').blur(function(){
        var identificacion = $(this).val();
        if(identificacion) {
            $.ajax({
                url: '{% url "check_user" %}',
                data: {
                    'identificacion': identificacion
                },
                dataType: 'json',
                success: function (data) {
                    if(data.exists) {
                        $('#id_nombres').val(data.nombres);
                        $('#id_email').val(data.email);
                        $('#id_tipo_empleado').val(data.tipo_empleado);
                        // Asegúrate de actualizar otros campos necesarios
                    } else {
                        $('#id_nombres').val('');
                        $('#id_email').val('');
                        $('#id_tipo_empleado').val('');
                    }
                }
            });
        }
    });
});
</script>